header#main-header{
    height: 60px;
    background: #2798a7;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}